button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	min-width: 6.6875em;
	border: none;
	//border-color: $color__border-button;
	border-radius: 1em;
	background: $color__tle-dark-grey;
	//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: #ffffff;
	//@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	//text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover,
	&:active,
	&:focus {
		background: $color__tle-light-grey;	
		}
}

.listen {
	background: $color__tle-light-grey;
	//@include font-size(0.75);
	line-height: 1;
	
	//text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover,
	&:active,
	&:focus {
		background: $color__tle-dark-grey;	
		}
}