@primaldish: 					http://www.primaldish.com/contact-me/
@AIPlifestyle: 					info@aiplifestyle.com 
@pretend_its_a_donut: 			http://pretenditsadonut.com/contact/
@bonappetitpaleo: 				paleobonappetit@gmail.com 
@happywifestyle: 				shannon@happywifestyle.com 
@wholefoodblog: 				http://www.gabskitchen.com/contact.html
@mickeytrescott: 				http://autoimmune-paleo.com/contact
@wholefork: 					wholefork@gmail.com 
@wholesisters  					www.whole-sisters.com
@radicatanutrition:				aglaee@radicatanutrition.com 
@vanessa_eats_clean_food:
@whole_in_onehundred:		
@clean_eating_journal:		
@brambleberry:					https://www.soapqueen.com/contact/	or	info@brambleberry.com
@mariamakesstuff:				mariamakingstuff@gmail.com		
@ali_kristen:					http://www.intersectioncoaching.com/contact/
@thewholesmiths:				thewholesmiths@gmail.com
@bigchinkitchen:				http://bigchinkitchen.com/contact/
@taylorcooper:				
@paleopaparazzi:				http://www.paleopaparazzi.com/contact/		
@nutritionalgrail:				http://www.christopherjamesclark.com/blog/contact/	
@rockinmomskitchen:				http://www.rockinmomskitchen.com/contact/
@thewonkyspatula:				nicola@thewonkyspatula.com
@WholeFoodBlog:					wholefoodblog@gmail.com
@DollyEssFit:					dollyessfit@gmail.com
@LisaMcLeod:					http://www.dreamhealer.com/contact/
@meg_mcgrane:				
@TheKitcheneer:					amanda.tynis@thekitcheneer.com	
@my_whole_kitchen:				kristen@mywholekitchen.com
@wholelifefullsoul:				kari@wholelifefullsoul.com
@human.resources:				kacie.carter@me.com
@uprootedcuisine:			
@cookathomemom:					Laura@cookathomemom.com
@bitsofbbskitchen:							
@bucknakedpaleo:				bucknakedpaleo@gmail.com
@pretend_its_a_donut:			http://pretenditsadonut.com/contact/
@sophisticatedcaveman:			http://www.thesophisticatedcaveman.com/contact/
@sarahksteffens:				sarahsteffenspersonalchef@gmail.com
@mommajcooks:				
@uprootedcuisine:				mommajcooks@yahoo.com	
@gracebrinton:					grace@gracebrinton.com
@NourishingHome:				http://thenourishinghome.com/contact/
@dirtytowhole30:		
@wholesisters  					http://www.whole-sisters.com/#!contact/c1rec
@my_whole_kitchen
@healthfest   					healthfestaj@gmail.com
@thedefineddish					thedefineddish@gmail.com
@alexaschirm					Simple Roots Wellness alexamoore7@gmail.com 
@lexiscleankitchen				Lexi’s Clean Kitchen lexi@lexiscleankitchen.com 
@brittany_angell 				RealSustenance@gmail.com 
@ditchthewheat					@ditchthewheat@gmail.com 
Cassy Joy Garcia				Fed and Fit cassyjoy@fedandfit.com 
Diane Sanflilippo				diane.sanfilippo@gmail.com 
Hayley Mason and Bill Staley	primalpalate@gmail.com 
Hayley Ryczek	 				hayley@healthstartinthekitchen.com
@vahuntergatherers				vahuntergatherers@gmail.com
Jenni Hulet						http://theurbanposer.com/contact/ 
Jessi Heggan					http://jessiskitchen.com/contact/
@paleomg						http://paleomg.com/contact-me/
Mark Sisson						http://www.marksdailyapple.com/contact/
@pasturedkitchen				http://www.pasturedkitchen.com/contact-us/
Simone Miller | Zenbelly 		zenbellyinfo@gmail.com
@thespunkycoconut				kelly@thespunkycoconut.com 
@realfoodliz					lizwolfe.mail@gmail.com 
@petespaleo						pete@petespaleo.com 
@thedomesticman					hedomesticman@gmail.com 
@thepaleomom					sarah@thepaleomom.com 
@paleoparents 					paleoparents@gmail.com 
@stupideasypaleo 				steph@stupideasypaleo.com 
@sustainabledish 				diana@radiancenutrition.com 
