.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

@media screen and (max-width: 37.5em) {
	
#site-wordmark {
	display: none;
}

.menu-social ul {
	left: -1.5em;
	top: 0;
	z-index: -1;
}

.search-toggle {
	left: 0;
	top: 0;
	width: 1em;
}

.menu-social ul,
.search-toggle {
	padding: 1.5em;
}

.main-navigation,
button.menu-toggle {
	padding: 0;
	margin: 0;
}

.main-navigation,
.main-navigation li{
	width: 100%;
	background: $color__tle-menu;
}

.main-navigation li {
text-align: center;
padding: .5em 0;
}

div.the {
	width: 2rem;
	height: 2rem;
	padding: .5rem .4rem;
	font-size: .6rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.site-title {
	font-size: 2em;
}
.site-description {
	font-size: .7em;
}

span#social-header {
	float: left;
	padding-top: 0;
}

.glass-promontory {
	top: 5em;
}

.opt-in {
	font-size: .8em;
	text-align: center;
}

h2.more-from-title {
	font-size: 1em;
}

.modalDialog > div {
	width: 90%;
}

.modalDialog input[type="text"],
.modalDialog input[type="email"],
.modalDialog input[type="url"],
.modalDialog input[type="password"],
.modalDialog input[type="search"],
.modalDialog input[type="number"],
.modalDialog input[type="tel"],
.modalDialog input[type="range"],
.modalDialog input[type="date"],
.modalDialog input[type="month"],
.modalDialog input[type="week"],
.modalDialog input[type="time"],
.modalDialog input[type="datetime"],
.modalDialog input[type="datetime-local"],
.modalDialog input[type="color"],
.modalDialog textarea {
	margin: .5em auto;
	max-width: 90%;
	min-width: 85%;
}

.modalDialog textarea {
	max-width: 90%;
	height: 100px;
	min-width: 85%;
}

.modalDialog button,
.modalDialog input[type="button"],
.modalDialog input[type="reset"],
.modalDialog input[type="submit"] {
	margin: auto;
}

.blurb {
	display: none;
}

.contact-submit {
	text-align: center;
}

div.entry-content p {
	max-width: 100%;
}


.episode-excerpt {
	overflow: hidden;
	font-size: .7em;
}

h1.player-title {
	font-size: 1.5em;
	align-items: center;
	line-height: 2.5em;
}

.player-title {
	height: 62px;
}

.podcast-cover {
	display: none;
}

ul.subscribe {
	text-align: center;
	width: 100%;
	margin: 1.5em auto;
}

ul.subscribe li {
  list-style: none;
  width: 180px;
  border-radius: .5em;
  background: grey;
  opacity: .5;
  text-align: center;
  margin: .5em;
  padding: .2em;
}

#auth article {
	padding: 0 1em;
}

hr {
	margin-bottom: -2.4em;
	margin-top: 2.4em;
}

.search-box .search-field {
	max-width: 66%;
}
#greyjoy {
	padding: 2em; 
}

button.listen {
	min-width: 120px;
}

#social-header.menu-social {
	width: auto;
}

.share-episode {
	float: none;
	margin: auto;
}

div.unhealthy-world-pdf {
	display: none;
}

}

@media screen and (max-width: 800px) {

.about-image,
#auth article {
	max-width: 100%;
	width: 100%;
}}

@media screen and (min-width: 568px) and (max-width: 800px) {

.blurb {
	width: 50%;
	padding: 0 1em;
	display: initial;
}

span.livingexperiment {
	letter-spacing: 3px;
}

.podcast-cover {
	display: none;
}

.main-navigation {
	//padding: 1.5em 1.9em;
}

.glass-promontory {
	top: 2em;
}

button.listen {
	min-width: 120px;
}

}

@media screen and (min-width: 801px) and (max-width: 1024px) {

#auth article {
	padding: 0 2em;
}

div#auth.col{
	margin: 1% 0 1% 2% !important;
}

}


@media screen and (min-width: 1500px) and (max-width: 2399px){

div#auth.col{
	margin: 1% 0 1% 2% !important;
}}

@media screen and (min-width: 2400px) {

.glass-promontory {
	top: 10em;
}

#greyjoy {
	padding: 5em; 
}}
