.about-image {
	max-width: 46.9%;
	float: left;
}

.about-copy {
	float: right;
	max-width: 46.9%;
	padding: 0 4em;
}
.author-about .section group .col{
	margin: 1% 0 1% 5%;
}

author-excerpt a {
	text-decoration: underline;
}