.player {
	border: 2px solid $color__tle-border;
}

.player-episode {
	font-family: 'Rokkitt', serif;
	color: #772c41;
	display: inline-block;
	//position: relative;
	/* left: 0; */
	float: right;
	padding: 1em;
	border-left: 2px solid $color__tle-border;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.9;
}

.player-title {
	text-transform: lowercase;
	margin: 0;
	display: inline-block;
}

.player-blurb {
	border-top: 2px solid $color__tle-border;
	}


.episodes {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	//width: 100%;
	//height: 300px;
	webkit-overflow-scrolling: touch;
	scroll-snap-type: mandatory;
	scroll-snap-points-x: snapInterval (0px, 200px);
}

.episode-post {
	display: inline-block;
	border: 2px solid;
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    width: 200px;
    white-space:normal;
}

.episode-number,
.episode-title,
.episode-footer,
.player-episode {
		display: flex;
		justify-content: center;
		align-items: center;
}

.episode-number {
	border-top: 2px solid $color__tle-border;
	border-bottom: 2px solid $color__tle-border;
	font-family: 'Rokkitt', serif;
	color: $color__tle-red;
	line-height: 2.5;
}

.episode-title {
	height: 6.65em;
	text-transform: lowercase;
	line-height: 1;
	margin: 0 auto;
	padding: 1.125em;
}

.episode-excerpt {
	height: 12.5em;
	overflow: scroll;
	padding: 0 2.25em;
	font-family: 'PT Sans Narrow', sans-serif;
}

.episode-footer {
	padding: 1.5em;
}
