/* Header search */

.search-toggle {
    float: right;
    margin-right: -1em;
    text-align: center;
    cursor: pointer;
    color: $color__tle-dark-grey;
}

.search-toggle:hover,
.search-toggle.active {
    color: black;
}

#search:not(:target) {
   opacity: 0;
   visibility: hidden;
   transition: opacity 1s, visibility 1s;
}
#search:target {
	opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;}

a.shut {
	float: right;
	padding: 0 .5em;
}

.search-toggle .screen-reader-text {
    top: 0;
    right: 0;
}
.search-box-wrapper {
    z-index: 2;
    width: 100%;
}
.search-box {
	margin-top: $tle_menu_height;
    padding: 2em;
    background: $color__tle-menu;
    outline: 0;
   	}

.search-box .search-field {
    max-width: 362px;
    float: right;
    padding: 1rem 2rem .5rem 4rem;
    background-color: #fff;
    border: 0;
    height: 1.25em;
}

//.hide {
//	display: none;
//} */

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { display: none; }

@media screen and (max-width: 600px) {
    .search-toggle {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0;
    }
}
