ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

div.entry-content ul {
	
	display: inline-block;
}

div.entry-content li a{
	display: inline-block;
	padding: .5em 0;
	list-style: none;
}

div.entry-content ul li a{
	font-family: 'Rokkitt', serif;
	color: $color__tle-red;
	text-transform: uppercase;
	border: 2px solid $color__tle-border;
	padding: 1em;
	margin: 1em 0;
}