//@include parallax-init($element: '.navbar');
.navbar {
	height: $tle_menu_height;
	background: $color__tle-menu;
	width: 100%;
	z-index: 1;
	position: fixed;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

.main-navigation {
	display: block;
	float: right;
	padding: 1.5em;// 3em; this shit is for when search is reintroduced
	font-weight: normal;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
	
			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;
		padding: 0 1em;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	width: 100%;
	z-index: 5;
}

.menu-toggle span {
	position: absolute;
	right: 1em;
	top: 2.1em;
	z-index: 5;
}

.menu-toggle span, 
.menu-toggle span:before,
.menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 32px;
  background: $color__tle-light-grey;
  position: absolute;
  display: block;
  content: '';
}
.menu-toggle span:before {
  top: -10px;
}
.menu-toggle span:after {
  bottom: -10px; 
}

.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  transition: all 500ms ease-in-out;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle.active span:before, .menu-toggle.active span:after {
  top: 0;
}
.menu-toggle.active span:before {
  transform: rotate(45deg);
}
.menu-toggle.active span:after {
  transform: rotate(-45deg);
}

.menu-toggle {
            display: block;
            font-weight: normal;
            text-decoration: none;
            line-height: 2.75em;
        }
button.menu-toggle {
	background: transparent;
}
    
    button.menu-toggle a {
	    border: none;
	    outline: none;
    }



@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Social Menu */

.menu-social ul {
    display: block;
	list-style: none;    
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background: $color__tle-menu;
    width: 8em;
}

ul.social-blurb {
	display: block;
	list-style: none;    
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    padding: 0;
	
}

.menu-social ul li,
.social-blurb li{
    position: relative;
    display:  inline-block;    
}
.social-blurb li a{
	   display: inline-block;
    padding: 0 5px;
    vertical-align: top;
}

.menu-social li a:before {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    font-family: 'fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f0c0';
}

.menu-social li a[href*="livingexperiment.com"]::before { content: '\f015'; }

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }

.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }

.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }

.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.menu-social li a[href*="github.com"]::before { content: '\f09b'; }

.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }

.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }

.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }

.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }

/* Author Menu */

.author-social ul {
    display: block;
	list-style: none;
	border-top: 2px solid $color__tle-border;
	border-bottom: 2px solid $color__tle-border;
	width: 90%;
	margin: auto;
	padding: 1em;
    
}

.author-social ul li {
    position: relative;
    display:  inline-block;
    padding: 0 .5em;    
}

.author-social li a:before {
   display: inline-block;
	/* padding: 1px; */
	/* vertical-align: top; */
	font-family: 'fontawesome';
	-webkit-font-smoothing: antialiased;
	content: '\f0c0';
	color: #fff;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	background-color: #77797b
}

.author-social li a[href*="facebook.com"]::before { content: '\f09a'; }

.author-social li a[href*="twitter.com"]::before { content: '\f099'; }

.author-social li a[href*="youtube.com"]::before { content: '\f167'; }

.author-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.author-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.author-social li a[href*="mailto:"]::before { content: '\f003'; }



